.game-score {
	width: 50px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 3px 0px var(--color-border-game-score-all),
		-3px 0px var(--color-border-game-score-all),
		0px 3px var(--color-border-game-score-all),
		0px -3px var(--color-border-game-score-all);
}

.game-score > .square {
	width: 33%;
	height: 14px;
	background-color: var(--color-background-game-score);
	border: 1px solid var(--color-border-game-score-square);
}

.game-score[data-points='1'] > .square:first-child {
	background-color: var(--color-background-game-score-point);
}

.game-score[data-points='2'] {
	flex-direction: row-reverse;
}

.game-score[data-points='2'] > .square:nth-child(n + 2) {
	background-color: var(--color-background-game-score-point);
}

.game-score[data-points='3'] > .square {
	background-color: var(--color-background-game-score-point);
}
