.card-front-back {
	--width: 130px;
	--height: 160px;
	width: var(--width);
	height: var(--height);
	position: relative;
	transition: transform 600ms cubic-bezier(0.42, 0, 0.54, 1.68);
	transform-style: preserve-3d;
	cursor: pointer;
}

.-test {
	box-shadow: 10px 0 crimson, 20px 0 crimson, -10px 0 crimson, -20px 0 crimson,
		0 -10px crimson, 10px -10px crimson, -10px -10px crimson,
		0 -20px crimson;
}

.card-front-back.-active {
	transform: rotateY(180deg);
}

.card-front-back > .card {
	position: absolute;
	backface-visibility: hidden;
}

.card-front-back > .card.-front {
	background-color: var(--color-background-card-game-front);
}

.card-front-back > .card.-back {
	background-color: var(--color-background-card-game-back);
	transform: rotateY(180deg);
}
