.game-pointer {
	width: 20px;
	height: 15px;
	position: absolute;
	top: 3px;
	transform: translateX(192px);
	transition: transform 200ms ease-in-out;
}

.game-pointer[data-current-player='2'] {
	transform: translateX(298px);
}
